.carousel-caption {
  top: 20%;
}
.custom-icon {
  height: 50px;
}
.icon-square {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}
.gradient-background {
  background: linear-gradient(300deg, #e84f17, #e6b31e, #a01f1f);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
#about .btn {
  background-color: #e6b31e;
  border: none;
}
.location-icon {
  height: 30px;
}
small {
  margin-left: 0.5rem;
}

#copyright {
  text-decoration: none;
  color: black;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
